.App {
  text-align: center;
}
body{
  font-family: 'nanumsquare';;
}
.black-nav{
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;;
  font-size: 20px;
}
.App .modal{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eee;
  padding: 20px;
}
